<article class="card__product">
    <div class="card__product-image">
        <img src="{{asset('img/products/shot_tropical.png')}}" alt="">
    </div>
    <div class="card__product-info">
        <h3 class="card__product-info-title">Shot Tropical</h3>
        <p class="card__product-info-description">Fruits frais, pressés à froid</p>
        <p class="card__product-info-price">4,50€</p>
        <a href="#" class="btn">
            <span class="link">Voir le produit</span>
        </a>
    </div>
</article>