<!-- filepath: e:\wamp\www\symfony\openclassrooms\greengoodies\templates\components\_header.html.twig -->
<footer class="footer">
	<div class="container">
		<div>@ GreenGoodies - 2025</div>
	</div>
</footer>
