<!-- filepath: e:\wamp\www\symfony\openclassrooms\greengoodies\templates\components\_header.html.twig -->
<footer class="footer">
	<div class="footer__container">
        <div class="footer__container__copyright">@ GreenGoodies - 2025</div>
	</div>
</footer>
