<section class="hero">
        <div class="hero__left">
            <div class="hero__left-wrapper">
                <h1 class="hero__title f-hero-title">Bienvenue</h1>
                <p class="hero__text f-hero-text">Découvrez notre univers de produits durables et éthiques pour une consommation responsable</p>
                <p class="hero__text f-hero-text">Retrouvez des articles d’hygiène & beauté, des accessoires & boissons et du prêt à porter</p>
        </div>
    </div>
        <div class="hero__right">
            <img src="{{ asset('./img/site/hero.png') }}" alt="déc intérieur moderne" class="hero__image">
        </div>
</section>