<section class="hero">
    <div class="hero__container">
        <div class="hero__container__left">
            <div class="hero__container__left__content">
                <h1 class="hero__container__left__content-title">Bienvenue</h1>
                <p class="hero__container__left__content-text">Découvrez notre univers de produits durables et éthiques pour une consommation responsable</p>
                </br>
                <p class="hero__container__left__content-text">Retrouvez des articles d’hygiène & beauté, des accessoires & boissons et du prêt à porter</p>
            </div>
        </div>
        <div class="hero__container__right">
            <img src="{{ asset('./img/site/hero.png') }}" alt="déc intérieur moderne" class="hero__container__right-image">
        </div>
    </div>
</section>