{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Accueil
{% endblock %}


{% block body %}
	{% include "./_partials/_hero.html.twig" %}

            {# ****************** PRODUCTS LIST****************** #}
	<section class="products">
		<div class="products__container">
			<div class="products__container__header">
				<h2 class="products__container__header-title">Nos produits</h2>
			</div>
            <div class="products__container__list">
          


            {% for product in products %}
                {% include "./_partials/_card-product.html.twig" with {'product': product} %}
            {% endfor %}


			</div>
		</div>
	</section>

            {# ****************** VALUES ****************** #}
    <section class="values">
		<div class="values__container">

			<article class="values__container__item">
                <div class="values__container__item-content">
                    <h3>notre conviction</h3>
                    <p>Chez GreenGoodies, nous croyons en un monde où le commerce peut être synonyme de bien-être pour la planète et ses habitants. Notre mission est de vous proposer une sélection rigoureuse de produits qui allient qualité, durabilité et éthique.</p>
                </div>
                 <div class="values__container__item-image">
                    <img src="{{ asset('img/site/convictions.png') }}" alt="fleurs décoration">
                </div>
            </article>

            <article class="values__container__item reverse">
                <div class="values__container__item-content">
                    <div class="values__container__item-content-reverse">
                        <h3>NOS VALEURS</h3>
                        <p>Durabilité : Nous sélectionnons soigneusement des produits qui respectent l'environnement et favorisent la durabilité. Éthique : Nous nous engageons à travailler avec des partenaires et des fournisseurs qui partagent nos valeurs éthiques. Écologie : Nous encourageons des pratiques respectueuses de l'écosystème et privilégions les matériaux écologiques.</p>
                    </div>
                </div>
                <div class="values__container__item-image">
                    <img src="{{ asset('img/site/valeurs.png') }}" alt="fleurs décoration">
                </div>
            </article>

        </div>
    </section>
{% endblock %}
