@use "../abstracts/_all" as *;

.cart__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $beige-light;
    width: 100%;
    padding: 1rem;

    &-image {
        width: 142px;
        height: 142px;
        overflow: hidden;
        border-radius: 5px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-details {
        flex: 1;
        margin-left: 1rem;
    }

    &-price {
        font-size: 1.125rem;
        margin-top: 0.5rem;
    }

  
}

 .cart__item-qty {
     width: 3rem;
     border: none;

     &:focus {
         outline: none;
     }

     // Ajout pour forcer l'affichage des flèches
     &::-webkit-inner-spin-button,
     &::-webkit-outer-spin-button {
         opacity: 0.7;
     }

     &::-ms-inner-spin-button {
         opacity: 0.7;
     }

     &::-moz-inner-spin-button {
         opacity: 0.7;
     }
 }