@use "../abstracts/_all" as *;

.hero {
    &__container {
        @include centerElement();
        background-color: $green;
        margin: 0 auto;
        max-height: 751px;

        &__left {
            flex: 1;
            @include centerElement(column);

            &__content {
                max-width: 300px;
                @include centerElement(column);
                align-items: flex-start;

                &-title {
                   /*  color: $gray-33;
                    font-size: $font-size-title-hero;
                    font-weight: $font-weight-medium; */
                    margin-bottom: 2rem;
                }

                &-text {
                   /*  color: $gray-33;
                    font-size: $font-size-text-hero;
                    font-weight: $font-weight-text; */
                }
            }


        }

        &__right {
            flex: 1;
            display: flex;
            justify-content: flex-end;

            &-image {
                max-width: 100%;
                height: auto;

            }
        }
    }

}

@media screen and (max-width: $breakpoint-tablette) {

    .hero {
        &__container {

            &__left {

                &__content {
                    max-width: 250px;

                    &-title {
                       /*  font-size: calc($font-size-title-hero * 0.75); */
                    }

                    &-text {
                       /*  font-size: calc($font-size-text-hero * 0.85); */
                    }

                }
            }

        }
    }
}

@media screen and (max-width: $breakpoint-mobile) {

    .hero {
        &__container {
            flex-direction: column;
            max-height: none;

            &__left {
                min-height: 40vh;


            }

            &__right {
                max-height: 40vh;

                &-image {
                    max-width: 100%;
                    height: auto;

                }
            }
        }
    }

}