@use "../abstracts/_all" as *;

.footer {
    background-color: $white;
    border: 1px solid $border-color-hf;
    height: 80px;

    .container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        padding: 0 $container-padding;
    }
}