@use "../abstracts/_all" as *;

.footer {
    background-color: $white;
    border: 1px solid $border-color-hf;
    
    &__container {
        margin: 0 auto;
        padding: 0 $container-padding;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 80px;
    }
}