<div class="cart__item">
    <div class="cart__item-image">
        <img src="{{ asset('./img/products/deodorant.png') }}" alt="Nécessaire, déodorant Bio" class="cart__item">
    </div>
    <div class="cart__item-details">
        <p class="cart__item-name">Nécessaire, déodorant Bio</p>
        <p class="cart__item-quantity">Quantité: 1</p>
        <p class="cart__item-price">8,50€</p>
    </div>
   
</div>